body {
  font-family: Garamond, serif;
  background-color: #104612;
  color: white;
}

a {
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    background-color: #341b4c;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
